.line1{
  width:480px;
  height:75px;
  background-color:rgb(76, 24, 199);
  justify-content: center;  
  display: flex;   
  align-items: center;
  
}
.line2{
  width:480px;
  height:150px;
  background-color:yellow;
  justify-content: center;  
  display: flex;   
  align-items: center
  
}
.line3{
  width:480px;
  height:125px;
  background-color:green;
  justify-content: center;  
  display: flex;   
  align-items: center
  
}
.line4{
  width:480px;
  height:125px;
  background-color:violet;
  justify-content: center;  
  display: flex;   
  align-items: center;
  /* float:left; */
  
}
.line5{
  width:480px;
  height:250px;
  /* float: left; */
  justify-content: center;  
  display: flex;   
  align-items: center;
  margin:0px;
} 
.line6{
  width: 480px;
  height:250px;
  /* float: left; */
  justify-content: center;  
  display: flex;   
  align-items: center
} 
.line7{
  /* clear:both; */
  width:480px;
  height:80px;
  background-color:blue;
  justify-content: center;  
  display: flex;   
  align-items: center
} 
.box1{
  width:240px;
  height:250px;
  background-color:blue;
  justify-content: center;  
  display: flex;   
  align-items: center
}
.box2{
  width:240px;
  height:250px;
  background-color:red;
  justify-content: center;  
  display: flex;   
  align-items: center
}

.box3{
  width:240px;
  height:250px;
  background-color:violet;
  justify-content: center;  
  display: flex;   
  align-items: center
}
.box4{
  width:240px;
  height:250px;
  background-color: brown;
  justify-content: center;  
  display: flex;   
  align-items: center
 
}
main{
  margin: auto;
  width:480px;

}

@media only screen /*and (max-width: 960px)*/ and (min-width:500px){
  main{
  margin: auto;
  width:1060px;
  /* flex-wrap: wrap; */
}
.thirdbox{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.fourbox{
  display: flex;
}
.secbox{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; */
}
.line1{
  width:960px;
  height:100px;
  background-color:rgb(76, 24, 199);
  justify-content: center;  
  display: flex;   
  align-items: center;
  /* float:left; */
  }
  .line2{
    width:200px;
    height:600px;
    background-color:yellow;
    justify-content: center;  
    display: flex;   
    align-items: center;
    /* float:left; */
}
.line3{
  float:left;
  width:380px;
  height:200px;
  background-color:green;
  justify-content: center;  
  /* display: flex;     */
  align-items: center;
  display: flex;
  flex-direction: row;
}
.line4{
/* float:left; */
  width:380px;
  height:200px;
  background-color:violet;
  justify-content: center;  
  align-items: center;
  
  }
  .line5{
    width:380px;
    height:250px;
    /* float: left; */
    justify-content: space-between;  
    /* display: flex;    */
    align-items: center;
    margin:0px;
    
    /* display: ; */
  flex-direction: row;
  } 
  .line6{
    width:380px;
    height:250px;
    /* float: left; */
    justify-content: center;  
    display: flex;   
    align-items: center;
    margin:0px;
    display: flex;
  flex-direction: row;
  } 
  .line7{
    width:480px;
    height:80px;
    background-color: black;
    justify-content: center; 
    clear:none;
}
.box1{
  clear:both;
  width:240px;
  height:250px;
  background-color:blue;
  justify-content: center; 
  line-height: 50px; 
  display: flex;   
  align-items: center;
  display: flex;
  flex-direction: row;
  
}
.box2{
  width:240px;
  height:250px;
  background-color:red;
  justify-content: center;  
  display: flex; 
  align-items: center;
  display: flex;
  flex-direction: row;
  /* float:left; */
  
  
}
.box3{
  width:240px;
  height:250px;
  background-color:yellow;
  /* float:left; */
  justify-content: center;  
  display: flex;    
  align-items: center;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  

}
.box4{
  width:240px;
  height:250px;
  /* float:left; */
  background-color: brown;
  justify-content: center;  
  display: flex;   
  align-items: center;
  display: flex;
  flex-direction: row;
  
 
}
.line7{
  width:760px;
  height:150px;
  background-color: rgb(212, 151, 19);
  justify-content: center; 

  /* clear:none; */
}